
:root {
    --dark-background-color: rgba(0, 18, 32);
    --dark-nav-color: rgba(0, 18, 32, 0.8);
    --nav-border-color: rgba(255, 255, 255, 0.2);
    --nav-link-color: #7fd659;
    --nav-text-size: 1.2rem;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    color: var(--light-color);
    background-color: var(--dark-background-color);
}

main {
    flex: 1;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--nav-border-color);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    font-size: var(--nav-text-size);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2rem;
}

nav ul li a {
    color: var(--nav-link-color);
    letter-spacing: 0.2rem;
    display: block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--nav-link-color);
    opacity: 1;
    transform: translate3d(-105%, 0, 0);
    transition: opacity 200ms, transform 200ms;
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.nav-corner-icon {
    width: var(--nav-text-size);
    height: var(--nav-text-size);
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    nav {
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    nav ul {
        gap: 1rem;
    }
    
    .nav-corner-icon {
        width: 1rem;
        height: 1rem;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
        letter-spacing: 0.2rem;
        margin-bottom: 1rem;
    }
}

.spacer {
    aspect-ratio: 1080 / 200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.head-waves {
    background-image: url('../images/head-waves-blue.svg');
}

.head-container {
    width: 100%;
    padding: 6rem 4rem 0 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.head-avatar {
    display: flex;
    align-items: center;
}

.head-text {
    margin-left: 2rem;
    margin-right: auto;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    line-height: 3.5rem;
}

.overview-text {
    margin-left: auto;
    text-align: right;
    font-size: 1.5rem;
}

.sub-header {
    display: none;
    margin-bottom: 1rem;
}

.sub-name-text {
    font-size: 2rem;
    font-weight: bold;
    background: -webkit-linear-gradient(var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 3px solid var(--primary-color);
}

.about {
    width: 90%;
    max-width: 800px;
    font-size: 1.2rem;
}

.foot-waves {
    background-image: url('../images/foot-waves-blue.svg');
    padding-bottom: 5rem;
}

@media (max-width: 768px) {
    .head-container {
        justify-content: center;
    }
    
    .head-text {
        display: none;
    }
    
    .sub-header {
        display: flex;
    }
    
    .about {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .overview-text {
        display: none;
    }
}

.border-gradient {
    background: linear-gradient(var(--dark-background-color), var(--dark-background-color)) padding-box,
        linear-gradient(45deg, var(--primary-color), var(--secondary-color)) border-box;
    border-radius: 1rem;
    border: 4px solid transparent;
}

.card {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

/* * * Projects * * */
.project-card .project-buttons {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-buttons {
    opacity: 1;
}

.project-card .project-thumb {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.project-card:hover .project-thumb {
    transform: scale(1.2);
}

.project-buttons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    gap: 0.5rem;
}

.project-icon-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}

.project-icon-button img {
    width: 80%;
    height: 80%;
    transition: filter 0.25s ease-in-out;
}

.project-icon-button:hover img,
.project-icon-button:focus img {
    filter: invert(80%);
}

.ribbon {
    position: absolute;
    top: 0;
    right: calc(-1 * var(--ribbon-width) / 2);
    background: var(--primary-color);
    color: white;
    padding: 5px 25px;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(45deg);
    letter-spacing: .2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    --ribbon-width: 100px;
}

.ribbon::before {
    content: attr(data-text);
    display: inline-block;
    width: auto;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    white-space: nowrap;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    margin: 10px;
    max-width: 90%;
    max-height: 80vh;
    transition: transform 0.3s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

#modal-text {
    color: #fff;
    text-align: center;
    line-height: 1rem;
}

.no-scroll {
    overflow: hidden;
}

/* * * Skills * * */
.skills-section {
    background-image: url('../images/wave-lines-01.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1440 / 560;
    margin: 4rem 0;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.skill-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--nav-border-color);
    backdrop-filter: blur(10px);
    background: rgba(1, 1, 1, 0.1);
}

.skill-item img {
    width: 80%;
    height: 80%;
}

.skill-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 0.3s ease-in-out;
}

.skill-item:hover .skill-overlay {
    opacity: 1;
}

@media (max-width: 1920px) {
    .skills-container {
        gap: 1rem;
    }

    .skill-item {
        width: 150px;
        height: 150px;
        padding: 1rem;
    }
    
    .skill-overlay {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .skills-container {
        gap: 0.5rem;
    }

    .skill-item {
        width: 80px;
        height: 80px;
        padding: 0.4rem;
    }
    
    .skill-overlay {
        font-size: 1rem;
    }
}
